
.first-div {
    text-align: center;
}
h1 {
    font-size: 60px;
    color: #020220;   
}
img {
    width: 700px;
    height: 500px;    
}

h2 {
    font-size: 48px;
    color: #020220;   
}

.blog {
    background-color: #ffff00;
    padding: 50px 0;
}

h3 {
    font-size: 36px;
    color: #635f5f;
}

span {
    font-size: 22px;
    color: #635f5f;
    display: block;
}
small {
    font-size: 14px;
    color: #635f5f;
}

p {
    font-size: 16px;
    color: #635f5f;    
    text-align: justify;
    padding: 50px 200px;
    border: 3px solid #020220;
    margin: 50px 300px;
    border-radius: 100px 0;
}
p.second-blog {
    border-radius: 0 100px;
}

.second-div {
    padding-left: 400px;
}

.second-div a {
    font-size: 22px;
    display: block;
    margin-top: 20px;
}

.third-div {
    padding-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.third-div input {
    height: 40px;
    width: 400px;
    padding: 0 20px;
    margin-left: 200px;
    margin-top: 20px;
    border: 2px solid #635f5f;
    border-radius: 30px;
}

.third-div input[type="file"] {
    border: 0;
}